################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/WSDExample/v15/.suo
/.vs/slnx.sqlite
/.idea/.idea.WSDExample/.idea
/.idea/.idea.WSDExample
/.vs/WSDExample/v16
/WSDExample/bin/Debug
/WSDExample/obj/Debug
